@model IEnumerable<MusicManager.ViewModels.PlaylistViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Создать плейлист</a>
</p>

    
<ul id="myUL">
    @foreach (var playlist in Model)
    {
        <li>
            <span class="caret caret-down">
                @playlist.Name
                <a asp-action="Edit" asp-route-id="@playlist.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@playlist.Id">Удалить</a>
            </span>
            <ul class="nested active">
                @foreach (var track in playlist.Tracks)
                {
                    <li style="display: flex; align-items: center; justify-content: space-evenly;">
                        <span>@track.Name</span>
                        <span>
                            <a asp-action="Remove" asp-route-id="@track.Id" asp-route-playlistId="@playlist.Id">Убрать из плейлиста</a>
                        </span>
                        <audio controls style="width: 100px;">
                            <source src="@track.Url" />
                        </audio>
                    </li>
                }
            </ul>
        </li>
    }
</ul>


<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>

